Para todas as questões abaixo comente o que você está fazendo no código

Questão 1: Crie um conversor de real em dólares. Imprima o resultado usando a função format.

In [ ]:
real=float(input("Coloque o valor a ser convertido:"))
dolar=5.5
valor_convertido=real*dolar
print("R${} equivale a ${} dólares".format(real,valor_convertido))

Questão 2:Crie um sistema que imprima o valor que você vai pagar e o desconto que você teria em determinado item do supermercado. Imprima concatenando.

In [ ]:
valor_produto=float(input("Escreva o valor do produto:"))
porcentagem_desconto=int(input("Escreva a porcentagem de desconto:"))

valor_produto_final=(valor_produto*(100-valor_desconto))/100
valor_desconto=valor_produto*porcentagem_desconto/100
print("O "+str(valor_produto_final)+" e "+str(valor_desconto))

Escreva o valor do produto:100
Escreva a porcentagem de desconto:10
O 90.0 e 10.0

Questão 3: Você chegou na última questão da Fuvest, e se você acertar essa você entra na USP.
A questão diz o seguinte:
Faça as operações abaixo usando os operadores e imprima o resultado delas:
    2 multiplicado por 3
    2 adicionado a 65
    5 dividido por 10
    O resto da divisão de 4 por 3
    Subtrair 4 de 10
    2 elevado a 4
    A parte inteira do resultado de 10 dividido por 3
    A raíz quadrada de 4

In [ ]:
x=2*3
y=2+65
z=5/10
a=4%3
b=10-4
c=2**4
d=10//3
e=4**1/2
print(x,y,z,a,b,c,d,e)

6 67 0.5 1 6 16 3 2.0

Questão 4: Você está correndo risco de ser jubilado, então, precisa escrever uma carta para o reitor com seus dados pessoais:nome,idade,curso e ano de ingresso, para suplicar pela sua estadia na USP. Use seus dados como variáveis e os imprima:

In [ ]:
nome="Natalia"
idade=22
curso="Economia"
ano_ingresso=2021
print("Eu, {}, tenho {} anos,faço o curso: {} e entrei no ano: {}.Eu imploro não me jubelem ):".format(nome,idade,curso,ano_ingresso))

Eu, Natalia, tenho 22 anos,faço o curso: Economia e entrei no ano: 2021.Eu imploro não me jubelem ):

Questão 5:Calcule a função abaixo:
1. 4a^2+5b a=5 b=3
2. 4a-(3b)/2 a=92 b=76

In [ ]:
#questão 1
a=5
b=3~0
valor1=4*(a**2)+5*5
print(valor1)

#questão 2
a=92
b=76
valor2=4*a-(3*b)/2
print(valor2)

125
254.0

Questão 5: Hoje é seu dia de sorte, seu chefe falou que você e todos os outros estagiários vão ter um aumento de 7,3% nos salários. Faça um programa que mostre automaticamente o valor do salário com o aumento quando o estagiário inserir o quanto ganha atualmente.

In [ ]:
salario_passado=float(input("Insira o seu antigo salário:"))
salario_atual=(1+7.3/100)*salario_passado
print(salario_atual)

Insira o seu antigo salário:1800
1931.3999999999999

Questão 6: Agora, você vai fazer uma calculadora, na qual o usuário insere 2 números, e você precisa imprimir, usando a função format, a soma, subtração, divisão e seu resto.(números inteiros)

In [ ]:
numero_1=int(input("Insira o 1 número:"))
numero_2=int(input("Insira o 1 número:"))
soma=numero_1+numero_2
subtraçao=numero_1-numero_2
divisao=numero_1/numero_2
resto=numero_1%numero_2
print('A soma entre eles é {}, a subtração é {}, a divisao é {}, e seu resto {}'.format(soma,subtraçao,divisao,resto))

Insira o 1 número:10
Insira o 1 número:2
A soma entre eles é 12, a subtração é 8, a divisao é 5.0, e seu resto 0

Questão 7:Você está preparando um evento para o seu instituto e precisa fazer uma ficha de cadastro. Nele a pessoa vai ter que inserir nome, altura, comida predileta,e idade(só números).

In [ ]:
nome=str(input("Insira seu nome:"))
altura=float(input("Insira sua altura,com ponto:"))
comida=str(input("Insira sua comida predileta:"))
idade=int(input("Insira sua idade:"))
print("O seu nome é {}, sua altura é de {}, você tem {} anos e gosta muito de comer {}".format(nome,altura,idade,comida))

Insira seu nome:natalia
Insira sua altura,com ponto:1.58
Insira sua comida predileta:lasanha
Insira sua idade:22
O seu nome é natalia, sua altura é de 1.58, você tem 22 anos e gosta muito de comer lasanha

Questão 8:Faça um programa que leia um número inteiro e mostre seu sucessor e seu antecessor.

In [ ]:
numero=int(input("Escreva um número:"))
sucessor=numero+1
antecessor=numero-1
print("O antecessor e o sucessor do número {} é, respectivamente, {} e {}".format(numero,antecessor,sucessor))

Escreva um número:3
O antecessor e o sucessor do número 3 é, respectivamente, 2 e 4

Questão 9: Escreva um programa que calcule a quantidade de latas de tintas
necessárias e o custo para pintar tanques cilíndricos de combustível,
em que são fornecidos a altura e o raio desse cilindro. Sabe-se que a
lata de tinta custa R$50,00; cada lata contém 5 litros e cada litro de
tinta pinta 3 m2
Area do Cilindro = 2.pi.r.(h+r)(área lateral e as 2 bases)(considere pi=3)

In [ ]:
h=int(input("Insira a altura: "))
r=int(input("insira o raio: "))
pi=3
area=2*pi*r*(h+r)
latas=area/3
preco=latas*50
print(preco)

Insira a altura4
insira o raio:2
1200.0

Questão 10: Escreva um programa que peça para o usuário inserir a quantidade de dias que ele irá viajar com o carro e a quantidade de km que ele irá percorrer. Calcule o quanto ele irá pagar, sabendo que o preço por dia de aluguel é 85 reais e 0,35 centavos por km rodado.

In [ ]:
km=float(input("Coloque os km rodados:"))
dias=int(input("Ponha os dias:"))
total=km*0.35+85*dias
print("o valor total é {} reais".format(total))

Coloque os km rodados:100
Ponha os dias:20
o valor total é 1735.0 reais

Questão 11: Escreva um programa que leia um número que exiba sua parte inteira.

In [ ]:
numero=float(input("escreva um numero: "))
print("A parte inteira é {}".format(int(numero)))

escreva um numero inteiro: 12.1
A parte inteira é 12

Questão 12: Encontre o tipo das seguintes variáveis, usando a função type(). Imprima o resultado com print(f.
Amanda
12
12.4

In [ ]:
x=type("Amanda")
y=type(12)
z=type(12.4)
print(f'os tipos de Amanda,12 e 12.4 é {x},{y} e {z}')

os tipos de Amanda,12 e 12.4 é <class 'str'>,<class 'int'> e <class 'float'>

Questão 13:Você vai fazer intercâmbio nos Eua, e quer saber se você tem que levar muitas roupas de frio.

a)então precisa fazer um conversor de temperatura de fahrenheit para celsius

In [ ]:
f=float(input("Coloque a temperatura em fahrenheit:"))
c=5*(32-f)/9
print(d)

Coloque a temperatura em fahrenheit:100.4
50.0

b)Agora, suponha que a temperatura convertida é um número com vírgula, arredonde ele com a função round.

In [ ]:
x=31.5
c=round(x)
print(c)

32

Questão 14: Faça um programa que mostre se a cidade inserida começa com "SANTO" ou não.

In [ ]:
cid=str(input("Em que cidade você nasceu?")).strip()
print(cid[:5].upper()=="SANTO")

Em que cidade você nasceu?santo antonio
True

Questão 15:Escreva um programa que leia o nome completo de uma pessoa e mostre:
        -O nome com todas as letras maiúsculas e minúsculas
        -Quantas letras ao todo sem contar os espaços
        -Quantas letras tem o primeiro nome

In [ ]:
nome=str(input('Digite seu nome completo: ')).strip()
print('Seu nome em letras maiúsculas é {}'.format(nome.upper()))
print('Seu nome em letras minúsculas é {}'.format(nome.lower()))
print('Seu nome tem {} letras'.format(len(nome)-nome.count(' ')))
separa=nome.split()
print('Seu primeiro nome é {} e ele tem {} letras'.format(separa[0],len(separa[0])))

Digite seu nome completo:natalia soares
Seu nome em letras maiúsculas é NATALIA SOARES
Seu nome em letras minúsculas é natalia soares
Seu nome tem 13 letras
Seu primeiro nome é natalia e ele tem 7 letras

Questão 16: Você quer achar seus parentes da família "Soares". Então, faça um programa que detecte se o nome inserido é da sua família.

In [ ]:
nome=str(input('Insira o nome completo:')).strip()
print('Seu nome tem Soares? {}'.format('soares'in nome.lower()))

Insira o nome completo:Natalia Soares
Seu nome tem Soares? True

Questão 17:Você está indo para o interusp, e está fazendo a lista dos 5 objetos mais importantes:bota,protetor-solar,camisinha,shorts e desodorante.
a)Você se lembrou que as tattoos são mais importantes que o proteto-solar. Retire o protetor da lista e adicione as tattoos.

In [ ]:
nomes=["bota","protetor-solar","camisinha","shorts","desodorante"]
nomes.append("tattoos")
nomes.pop(1)
print(nomes)

['bota', 'camisinha', 'desodorante', 'shorts', 'tattoos']

b)Além disso, você gosta de listas organizadas por ordem alfabética, coloque-as como tal, e imprima o índice do item 'desodorante'.

In [ ]:
nomes.sort()
print(nomes)
print(nomes.index('desodorante'))

['bota', 'camisinha', 'desodorante', 'shorts', 'tattoos']
2

Questão 18:Chegou o final do semestre e você tem suas notas 7,9.5,8.0,2.0,1.0,3.0. Imprima sua nota máxima, mínima e a soma delas.

In [ ]:
notas=[7,9.5,8.0,2.0,1.0,3.0]
print(sum(notas))
print(max(notas))
print(min(notas))

30.5
9.5
1.0

Questão 19: Chegando a Copa do mundo, é importante saber as 10 melhores seleções do mundo rankeadas pela FIFA:
'Brasil','Belgica','Argentina','França','Iglaterra','Italia','Holanda','Espanha','Portugal','Alemanha'.Sabendo disso, extraia:
        a)Os 2 primeiros colocados 
        b)os últimos 4 colocados
        c)Em que posição está o nosso rival 'Argentina'

In [ ]:
seleçoes=['Brasil','Belgica','Argentina','França','Iglaterra','Italia','Holanda','Espanha','Portugal','Alemanha']
print(f'Os 2 primeiros colocados são os {seleçoes[:2]}')
print(f'Os 4 últimos colocados são {seleçoes[-4:]}')
print(f'A Argentina está em {seleçoes.index("Argentina")+1}ª lugar')

Os 2 primeiros colocados são os ['Brasil', 'Belgica']
Os 4 últimos colocados são ['Holanda', 'Espanha', 'Portugal', 'Alemanha']
A França está em 3ª lugar

Questão 20:Faça um dicionário com os seguintes dados cadastrais dos alunos da Usp
    Nome - Juliano
    idade - 20 anos
    Instituto - ECA

In [ ]:
cadastro={'Nome':'Juliano','Idade':'20 anos','Instituto':'ECA'}
print(cadastro)

{'Nome': 'Juliano', 'Idade': '20 anos', 'Instituto': 'ECA'}

b) Agora você vai precisar fazer algumas alterações
    1. Mude o nome de Juliano para Pedro
    2.Adicione mais um campo 'Ano de ingresso - 2019'
    3.Imprima só o ano de ingresso do aluno(só o valor)
    4.Imprima todo o dicionário

In [ ]:
cadastro['Nome']='Pedro'
cadastro['Ano de ingresso']='2019'
print(cadastro['Ano de ingresso'])
print('-----------')
print(cadastro)

2019
-----------
{'Nome': 'Pedro', 'Idade': '20 anos', 'Instituto': 'ECA', 'Ano de ingresso': '2019'}